{% extends "base.html" %}
{% load i18n %}
{% load allauth account %}

{% block content %}
<header class="mb-4 text-center">
    <h1>{% trans "Sign In" %}</h1>
</header>

<section class="mb-4">
    <p>
        {% blocktranslate %}
        If you have not created an account yet, then please
        <a href="{{ signup_url }}">sign up</a> first.
        {% endblocktranslate %}
    </p>

    <form method="post" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {{ redirect_field }}
        <div class="text-center mt-3">
            <button type="submit" class="btn btn-primary">{% trans "Sign In" %}</button>
        </div>
    </form>
</section>

{% endblock content %}