{% extends "base.html" %}
{% load i18n %}
{% load allauth account %}

{% block content %}
<article class="container mt-5 text-white">
    <div class="row justify-content-center">
        <div class="col-md-6 form-group">
            <h2 class="mb-4 text-center">
                {% trans "Sign In" %}
            </h2>
            <section class="mb-4">
                <p class="font-italic">
                    {% blocktranslate %}
                    If you have not created an account yet, then please
                    <a href="{{ signup_url }}">sign up</a> first.
                    {% endblocktranslate %}
                </p>

                <form method="post" action="{% url 'account_login' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    {{ redirect_field }}
                    <div class="text-center mt-3">
                        <button type="submit" class="btn btn-primary">{% trans "Sign In" %}</button>
                    </div>
                </form>
            </section>
        </div>
    </div>
</article>

{% endblock content %}