{% extends "base.html" %}
{% load allauth i18n %}

{% block content %}
<article class="container mt-5 text-white">
    <div class="row justify-content-center">
        <div class="col-md-6 form-group">
            <header class="mb-4 text-center">
                <h1>{% trans "Sign Out" %}</h1>
            </header>

            <section class="mb-4 text-center">
                <p class="lead">{% trans 'Are you sure you want to sign out?' %}</p>
            </section>

            <form method="post" action="{% url 'account_logout' %}" class="text-center">
                {% csrf_token %}
                {{ redirect_field }}
                <button type="submit" class="btn btn-danger">{% trans 'Sign Out' %}</button>
            </form>
        </div>
    </div>
</article>
{% endblock content %}