{% extends "base.html" %}
{% load allauth i18n %}

{% block content %}
<article class="container mt-5 text-white">
    <div class="row justify-content-center">
        <div class="col-md-6 form-group">
            <header class="mb-4 text-center">
                <h1>{% trans "Sign Up" %}</h1>
            </header>

            <section class="mb-4 text-center">
                <p class="lead">{% blocktranslate %}
                    Already have an account? Then please
                    <a href="{{ login_url }}">sign in</a>.
                    {% endblocktranslate %}
                </p>
            </section>

            <form method="post" action="{% url 'account_signup' %}" class="mb-4">
                {% csrf_token %}
                {{ form.as_p }}
                {{ redirect_field }}
                <div class="text-center mt-3">
                    <button type="submit" class="btn btn-primary">{% trans "Sign Up" %}</button>
                </div>
            </form>
        </div>
    </div>
</article>
{% endblock content %}