{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-6 mx-auto" style="margin-top: 70px">
            <form action="{% url 'register' %}" method="post">
                <h2>Registration</h2>
                {% csrf_token %}
                {% if form.errors %}
                    <div class="alert alert-danger">
                        {% for field in form %}
                            {% for error in field.errors %}
                                <p>{{ field.label }}: {{ error }}</p>
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
                {{ form.as_p }}
                <div class="pull-right">
                    <button type="submit" class="btn btn-success float-right">Sign up</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}