{% extends 'base.html' %}
{% url 'home' as home_url %}
{% url 'edit_reservation' %}
"{% url 'cancel_reservation' %}"
{% load custom_filters %}


{% block content %}
<div class="container mt-5">
    <h2>My Reservations</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Reservation ID</th>
                <th>Trip Route</th>
                <th>Date</th>
                <th>Time</th>
                <th>Seats</th>
                <th>Actions</th>
            </tr>
        </thead>
        {% if reservations %}
        <tbody>
            {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.id }}</td>
                <td>{{ reservation.trip.origin }} - {{ reservation.trip.destination }}</td>
                <td>{{ reservation.date }}</td>
                <td>{{ reservation.time }}</td>
                <td>{{ reservation.number_of_seats }}</td>
                <td>
                    {% if reservation.date|is_before_now:reservation.time %}
                    <span>Past Trip</span>
                    {% else %}
                    <a href="{% url 'edit_reservation' reservation.id %}" class="btn btn-primary btn-sm">Update Seats</a>
                    <a href="{% url 'cancel_reservation' reservation.id %}" class="btn btn-danger btn-sm">Cancel</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
        {% else %}
        <p>You haven't made any reservations yet.</p>
        {% endif %}
    </table>
    <button>
        <a href="{% url 'home' %}">Back to Home Page</a>
    </button>
</div>
{% endblock %}