{% extends 'base.html' %}

{% block content %}
<body>
    <h2>Trip Schedule</h2>
    <table class="table table-striped" >
        <thead>
            <tr>
                <th>Trip Number</th>
                <th>Origin</th>
                <th>Destination</th>
                <th>Date</th>
                <th>Time</th>
                <th>Number of Seats</th>
                <th>Available Seats</th>
                <th>Action</th>
            </tr>
        </thead>
        {% for row in trip_list %}
        <tbody>
            <tr>
                <td>{{row.trip_number}}-{{row.trip_id}}</td>
                <td>{{row.origin}}</td>
                <td>{{row.destination}}</td>
                <td>{{row.date}}</td>
                <td>{{row.time}}</td>
                <td>{{row.total_number_of_seats}}</td>
                <td>{{row.available_seats}}</td>
                <td>
                    {% if row.trip_id %}
                    <a href="{% url 'make_reservation' row.trip_id %}" class="btn btn-primary">Reserve</a>
                    {% else %}
                        <span>Trip ID not available</span>
                    {% endif %}
                </td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
</body>
{% endblock %}