{% extends 'base.html' %}
{% url 'find_trip' as find_trip %}
{% load custom_filters %}

{% block content %}
<body>
    <h2>Trips Schedule for {{ current_day|date:"Y-m-d" }}</h2>
    <p>Origin: <strong>{{ origin }}</strong>, Destination: <strong>{{ destination }}</strong></p>
    <a href="{% url 'find_trip' %}?date={{ previous_day|date:'Y-m-d' }}&origin={{ origin }}&destination={{ destination }}" class="btn btn-primary">Previous Day</a>
    <a href="{% url 'find_trip' %}?date={{ next_day|date:'Y-m-d' }}&origin={{ origin }}&destination={{ destination }}" class="btn btn-primary">Next Day</a>
    <table class="table table-striped" >
        <thead>
            <tr>
                <th>Trip Number</th>
                <th>Origin</th>
                <th>Destination</th>
                <th>Date</th>
                <th>Time</th>
                <th>Number of Seats</th>
                <th>Available Seats</th>
                <th>Action</th>
            </tr>
        </thead>
        {{ error }}
        {% for row in trip_list %}
        <tbody>
            <tr>
                <td>{{row.trip_number}}-{{row.trip_id}}</td>
                <td>{{row.origin}}</td>
                <td>{{row.destination}}</td>
                <td>{{row.date}}</td>
                <td>{{row.time}}</td>
                <td>{{row.total_number_of_seats}}</td>
                <td>{{row.available_seats}}</td>
                <td>
                    {% if row.available_seats != 0 %}
                        <a href="{% url 'make_reservation' row.trip_id %}" class="btn btn-primary">Reserve Seat</a> ({{row.date}})
                    {% elif row.date|is_before_now:row.time %}
                        <span>Past Trip</span>
                    {% else %}
                        <span>Fully booked</span>
                    {% endif %}
                </td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
</body>
{% endblock %}