{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-6 mx-auto" style="margin-top: 70px">    
            {% if user.is_authenticated %}
                <p>Welcome, {{ user.username }}!</p>
            {% else %}
                <p>Please <a href="{% url 'account_login'%}">log in</a> to access more features.</p>
            {% endif %}
        </div>
    </div>
</div>
<div class="container">
        <div class="row">
            <div class="col-sm-6 mx-auto" style="margin-top: 70px">
                <h2>Search trips</h2>
                <form action="{% url 'find_trip' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group row">
                        <label for="trip-from" class="col-2 col-form-label">From</label>
                        <div class="col-10">
                            <input name='origin' class="form-control" type="text" id="trip-from"
                                placeholder="Enter origin city" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="trip-to" class="col-2 col-form-label">To</label>
                        <div class="col-10">
                            <input name='destination' class="form-control" type="text" id="trip-to"
                                placeholder="Enter destination city" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="departure-date" class="col-2 col-form-label" >Date</label>
                        <div class="col-10">
                            <input name='date' class="form-control" type="date" id="departure-date" required>
                        </div>
                    </div>
                    <div class="pull-right">
                        <button type="submit" class="btn btn-float-right bg-success" >Search</button>
                    </div>
                    

                </form>
            </div>
        </div>

    </div>

{% endblock %}