body {
    background: url('/static/images/welcome_kabayan.webp')
        center center / cover no-repeat fixed;
}

/* Home */
.welcome-message{
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding-top: .5rem;
}

.search-box {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 1.5rem;
}

/* Trip List */
.table-group {
    background: #69ddff;
    color: black;
}